footer{
  background-color: #071013;
  color: #dfe0e2;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  padding: 5% 3%;
}

footer span, h4{
  color: #eb5160;
}

footer a{
  color: #dfe0e2;
  text-decoration: none;
}

footer a:hover{
  color: #eb5160;
}

footer .nav_Wrapper{
  display: flex;
}

footer .nav_Wrapper i{
  display: none;
}

footer .nav_Wrapper navbar{
  border-right: 2px solid #eb5160;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  padding-left: 25px;
}

footer h4{
  margin: 0px;
}

.footer_Copyright-Wrapper{
  display: flex;
  flex-direction: column;
  height: 90px;
  align-items:flex-end;
  justify-content: flex-end;
}

.footer_Copyright-Wrapper .logo{
  color: #dfe0e2;
  font-size: calc(1em + 1vw);
}

@media only screen and (min-width: 768px){
  
  footer{
    font-size: 1.1em;
  }

  footer .nav_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120px;
    max-width: 50%;
  }

  footer .nav_Wrapper i{
    display:contents;
    padding-right: 10px;
  }
  
  footer .nav_Wrapper navbar{
    border-right: 0px;
    border-bottom: 2px solid #eb5160;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  
  footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }

  footer ul, li{
    display: flex;
    flex-direction: row;
    padding: 0px 3px;
    align-items: center;
  }

  footer i{
    font-size: 0.5em;
  }

  footer ul span{
    padding-right: 5px;
  }
}

  