body{
  font: 0.9em/1.5 'Poppins', Helvetica, sans-serif;
  background-color: #dfe0e2;
  color: #071013;
}

.container{
  width: 85%;
  margin: auto;
  overflow: hidden;
}

.categories{
  width: 100%;
  margin:0;
  padding:0;
  background-color: #071013;
  color: #dfe0e2;
  font-size: 0.9em;
}

.categories ul{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.categories li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categories ul li a, i{
  padding: 0 5px;
}

.categories ul li a{
  color: #dfe0e2;
  text-decoration: none;
}

.categories ul li a:hover{
  color: #eb5160;
}

.categories ul li i{
  font-size: 0.5em;
}

#heading_New{
  padding-top: 15px;
  background-image: url(../assets/img/wave-haikei.svg);
  background-size: contain;
  border-bottom: 2px solid #686868;
  display: flex;
  justify-content: center;
}

#heading_New .container{
  margin: 0;
  padding: 0;
}

#heading_New a{
  color: #071013;
  text-decoration: none; 
}

#heading_New a:hover{
  color: #eb5160;
}

.container_Heading-New{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_Heading-New img{
  max-width:100%;
}

#main_News{
  padding: 20px 0;
  background-image: url(../assets/img/low-poly-grid-haikei2.svg);
  background-size: contain;
}

.articles{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAAAAA;
}

.articles h3{
  margin: 10px 0;
}

.articles article{ 
  display: flex;
  flex-wrap: wrap;
}

article div{
  width: 100%;
}

.articles img{
  max-width: 80%;
}

.articles a{
  color: #eb5160;
  text-decoration: none;
}

.articles a:hover{
  color: #071013;
  text-decoration: none;
}

#newsletter {
  background-color: #aaaaaa;
  padding-bottom: 5%;
}

#newsletter .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newsletter button{
  background-color: #eb5160;
  color: #dfe0e2;
  border-radius: 5px;
  padding: 3% 2%;
}

#newsletter a{
  text-decoration: none;
  color: #dfe0e2;
}

#newsletter input{
  height: 32px;;
  width: 60%;
  border-radius: 5px;
}

@media only screen and (min-width: 480px) {
  .news_Wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .articles{
    flex: 45%;
    margin-right: 25px;
    border-bottom: none;
  }

  .articles article{
    display: flex;
    flex-direction: row;
    justify-content:start;
  }

  .articles img{
    height:max-content;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px){
  .categories {
    font-size: 1.1em;
  }

  #main_News{
    background-size: cover;
  }

  #heading_New{
    background-size: cover;
  }

  .articles{
    flex: 30%;
  }

  .articles article{
    justify-content: center;
    align-items: center;
  }

  .container_Heading-New {
    display: flex;
    flex-direction: row;
  }

  .container_Heading-New img {
    margin-right: 20px;
    padding-bottom: 20px;
    width: 50%;
  }
  
  .container_Heading-New div {
    width: 50%;
  }
}
